#root {
  width: 100%;
  height: calc(100vh - 2rem);
  margin: 1rem;
}

.blog-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  margin: 0;
}

.content {
  display: flex;
}

.blog-list {
  height: calc(100vh - 10rem);
  width: 50%;
  overflow-y: scroll;
}

.post-list {
  height: calc(100vh - 16rem);
  width: 50%;
  overflow-y: scroll;
}

.blog-item {
  height: 6rem;
  cursor: pointer;
}

.post-item {
  height: 3rem;
  cursor: pointer;
}

.error {
  color: red;
}
